[submodule "Maverick"]
	path = Maverick
	url = git@github.com:AlanDecode/Maverick.git
[submodule "Galileo"]
	path = Galileo
	url = git@github.com:AlanDecode/Maverick-Theme-Galileo.git
	branch = latest
